.forgetpass {
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    position: relative;

    .container {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        border-radius: 8px;

        input {
            margin-bottom: 16px;
            padding: .75rem 1rem;
            min-width: 100%;
            border-radius: .375rem;
            appearance: none;
            border: 1px solid #e2e8f0;

            &::placeholder {
                color: #080b13;
            }
        }

        button {
            border: none;
            padding: .75rem 1rem;
            width: 100%;
            vertical-align: top;
            border-radius: .375rem;
            font-weight: 500;
            cursor: pointer;
            font-size: 100%;
            color: white;
            background-color: #1c3faa;
        }
    }
}

.signup_confirmEmail {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 23;
    display: grid;
    place-items: center;
    padding: 20px;
    transition: all 300ms ease-in;
    visibility: hidden;

    h3 {

        font-weight: 500;
        font-size: 23px;

        @include breakpoint-down(small) {
            font-size: 23px;
        }
    }
}


.showconfirmEmail {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 23;
    display: grid;
    place-items: center;
    padding: 20px;
    transition: all 300ms ease-in;
    visibility: visible;

    h3 {

        font-weight: 500;
        font-size: 23px;

        @include breakpoint-down(small) {
            font-size: 23px;
        }
    }
}

@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }

    1% {
        visibility: visible;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 200ms ease-in-out forwards;
}