body {
    padding: 10px;
    background-color: #262a41;
    font-size: 14px;
    height: 100%;
    box-sizing: border-box;

    @include breakpoint-down(small) {
        padding: 20px;
    }

}

a {
    text-decoration: none;
    color: inherit;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    place-items: center;


    a {
        width: 135px;
        padding: 10px;
        text-align: center;
        background-color: white;
        border-radius: 8px;
    }
}