body {
    padding: 10px;
    background-color: #262a41;
    font-size: 14px;
    height: 100vh;
    box-sizing: border-box;

    @include breakpoint-down(small) {
        padding: 20px;
    }

}

a {
    text-decoration: none;
    color: inherit;
}