.listrepos {
    padding: 1rem;
    color: black;
    border-radius: 6px;
    background-color: #c5c7df78;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    // transition: all 3s ease-in;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 0.5s;

    &:hover {

        transform: scaleX(1.05);
        // transform: scaleY(1.05);

        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 10px 10px -5px rgba(0, 0, 0, .04);

    }

    h1 {
        font-size: 1.5rem;
        font-weight: 500;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .btn {
        display: none;
    }
}

.shown {
    display: block !important;
}