//Set count variable here
// $count: 10;

.projectcard {
    width: 85px;


    .initials {

        width: 85px;
        height: 85px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 19px;
        margin-bottom: 20px;
        background-color: #354376;
        // background-color: rgb(random(255), random(255), random(255));
        text-transform: uppercase;

        border-radius: 16px;

    }

    .projname {
        text-align: center;
        width: 85px;
    }
}

// @for $i from 1 through $count {
//     .projectcard div {
//         &:nth-child(#{$i}) {
//             background-color: rgb(random(255), random(255), random(255));
//         }
//     }
// }