.projectinfo {
    color: black;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;

    @include breakpoint-down(small) {
        padding: 30px 10px 10px 10px;
    }

    .name {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .settings {
        margin-top: 20px;


        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid gainsboro;
            margin-bottom: 20px;


            h1 {
                font-size: 23px;

            }

        }


        &_info {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            h3 {
                color: grey;
            }

            p {
                margin-left: auto;
                background-color: lightblue;
                border-radius: 9px;
                min-width: 28px;
                text-align: center;
                padding: 5px 0;
                margin-right: 15px;

            }

            svg {

                color: gray;
            }
        }
    }

}

.notification {
    display: flex;
    align-items: center;
    background-color: #F3F5FA;
    width: fit-content;
    border-radius: 8px;
    padding: 10px 15px;

    svg {
        margin-right: 5px;
        color: gray;
    }

    h3 {
        color: gray;

        font-size: 1rem;
    }

    .date {
        color: black;
        margin-left: 15px;
    }
}

.top {
    display: flex;
    justify-content: space-between;
}


.edit_pop {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 50vh;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #d1d2d0;

    .maxmin {
        h3 {
            font-weight: 500;
        }

        input {
            border: none;
            padding: 9px;
            border-radius: 8px;
        }
    }

    .alabill {
        h3 {
            font-weight: 500;
        }

        select {
            display: block;
            font-size: 16px;
            font-family: sans-serif;
            color: #444;

        }
    }

    button {
        border: 0;
        padding: 5px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;

        .MuiCircularProgress-root {
            width: 15px !important;
            height: 15px !important;
            margin-left: 9px;

        }
    }
}

.tweet {
    display: none !important;

}

.show {
    display: block !important;
}

.alarm {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        display: flex;


        .msg {
            margin-right: 16px;
        }
    }
}

.chart-container {
    margin: 0 auto;
    max-width: 960px;
}

.over {
    margin-top: 15px;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

}