.projectinfo {
    color: black;
    // padding: 20px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;

    @include breakpoint-down(small) {
        padding: 10px;
        padding-top: 30px;
    }

    .name {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .settings {
        margin-top: 20px;


        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid gainsboro;
            margin-bottom: 20px;


            h1 {
                font-size: 23px;

            }

        }


        &_info {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            h3 {
                color: grey;
            }

            p {
                margin-left: auto;
                background-color: lightblue;
                border-radius: 9px;
                min-width: 28px;
                text-align: center;
                padding-top: 5px;
                padding-bottom: 5px;
                margin-right: 15px;

            }

            svg {

                color: gray;
            }
        }
    }

}

.notification {
    display: flex;
    align-items: center;
    // padding: 15px;
    background-color: #F3F5FA;
    width: fit-content;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 10px 15px;

    svg {
        margin-right: 5px;
        color: gray;
    }

    h3 {
        color: gray;

        font-size: 1rem;
    }

    .date {
        color: black;
        margin-left: 15px;
    }
}

.top {
    display: flex;
    justify-content: space-between;
}


.edit_pop {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 50vh;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #ccb9b9;
}