.user {
    color: #354376;
    display: flex;
    flex-direction: column;
    place-items: center;
    padding-top: 10px;
    position: relative;

    @include breakpoint-up(large) {
        height: 97vh;

    }



    .MuiAvatar-root {
        width: 200px;
        height: 200px;

    }

    .userparams {
        padding: 20px;
        display: flex;

        position: relative;

        @include breakpoint-down(small) {
            justify-content: space-between;
            width: 100%;
            padding-left: 35px;
            padding-right: 35px;

        }


        .divide {
            position: absolute;
            width: 1px;
            height: 73px;
            background-color: gray;
            left: 170px;
            top: 19px;
            opacity: 0.5;

            @include breakpoint-down(small) {
                position: unset;
            }

        }

        .noofproj {
            margin-right: 125px;

            @include breakpoint-down(small) {
                margin-right: 0;

            }
        }

    }

    .addmoney {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 93%;
        height: 75px;
        border-radius: 8px;
        padding: 20px;
        color: white;
        cursor: pointer;
        background-color: #354376;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(4, 29, 61, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);



    }
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    color: #354376;
    width: 85px;
    height: 70px;
    margin-top: -15px;

    p {
        margin-bottom: 7px;
    }
}

.pay_pop {


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    gap: 10px;

    .MuiFormControl-root {
        margin-bottom: 16px;
    }

    button:not(:last-child) {
        margin-bottom: 8px;

        .MuiCircularProgress-root {
            width: 15px !important;
            height: 15px !important;
            margin-left: 9px;
            color: black;

        }
    }

    .ten {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;

        span {
            span {

                font-weight: 700;
                font-size: 19px;
                margin-left: 10px;
            }
        }

        button {

            span {

                font-weight: unset;
            }
        }


    }

}

.logout {
    position: absolute;
    right: 17px;
    top: 13px;
    cursor: pointer;
    text-align: center;

    p {
        font-size: 10px;
    }
}

.dialog-loadd {
    width: 15px !important;
    height: 15px !important;
    margin-left: 9px;

}

.edit-icon {
    position: absolute;
    top: 13px;
    left: 17px;
    cursor: pointer;
    text-align: center;

    p {
        font-size: 10px;
    }
}

.errormsg {
    width: 236px;
}

.chartjs-render-monitor {
    width: 86vw !important;
    max-width: 300px;
}

.MuiDialogContent-root {
    padding: 8px 10px !important;
}