.user {
    color: #354376;
    display: grid;
    place-items: center;
    height: 97vh;

    // h1 {
    //     margin-top: -39px;
    // }

    // p {
    //     margin-top: -39px;
    // }

    .MuiAvatar-root {
        width: 200px;
        height: 200px;

    }

    .userparams {
        padding: 20px;
        display: flex;
        // margin-top: -41px;

        position: relative;

        @include breakpoint-down(small) {
            justify-content: space-between;
            width: 100%;
            padding-left: 35px;
            padding-right: 35px;

        }


        .divide {
            position: absolute;
            width: 1px;
            height: 73px;
            background-color: gray;
            left: 170px;
            top: 19px;
            opacity: 0.5;

            @include breakpoint-down(small) {
                // left: 153px;
                position: unset;
            }

        }

        .noofproj {
            // justify-content: start;
            margin-right: 125px;

            @include breakpoint-down(small) {
                margin-right: 0;

            }
        }

    }

    .addmoney {
        // margin-top: -41px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 93%;
        height: 75px;
        border-radius: 8px;
        // margin: 0 auto;
        // justify-self: center;
        padding: 20px;
        color: white;
        cursor: pointer;
        background-color: #354376;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(4, 29, 61, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

        // @include breakpoint-down(small) {
        //     // margin-right: 23px;
        // }

    }
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    color: #354376;
    width: 85px;
    height: 70px;
    margin-top: -15px;

    p {
        margin-bottom: 7px;
    }
}

.pay_pop {


    background-color: #D0DBF2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 8px;

    .MuiFormControl-root {
        margin-bottom: 16px;
    }

    button:not(:last-child) {
        margin-bottom: 8px;

        .MuiCircularProgress-root {
            width: 15px !important;
            height: 15px !important;
            margin-left: 9px;
            color: black;

        }
    }

    // input {
    //     margin-bottom: 16px;
    //     padding: .75rem 1rem;
    //     min-width: 100%;
    //     border-radius: .375rem;
    //     appearance: none;
    //     border: 1px solid #e2e8f0;

    //     &::placeholder {
    //         color: #080b13;
    //     }
    // }

    // button {
    //     border: none;
    //     padding: .75rem 1rem;
    //     width: 100%;
    //     vertical-align: top;
    //     border-radius: .375rem;
    //     font-weight: 500;
    //     cursor: pointer;
    //     font-size: 100%;
    //     color: white;
    //     background-color: #1c3faa;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     margin-bottom: 10px;

    //     .MuiCircularProgress-root {
    //         width: 15px !important;
    //         height: 15px !important;
    //         margin-left: 9px;

    //     }
    // }

}