body {
  padding: 10px;
  background-color: #262a41;
  font-size: 14px;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  width: 100%;
}

@media (max-width: 40em) {
  body {
    padding: 20px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  height: auto;
}

.landingpage {
  background-color: white;
  height: 100%;
  margin: -10px;
}

@media (max-width: 40em) {
  .landingpage {
    margin: -20px;
  }
}

.landingpage .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  padding-left: 84px;
}

@media (max-width: 40em) {
  .landingpage .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: none;
  }
}

@media (max-width: 64em) {
  .landingpage .nav {
    padding: 25px;
  }
}

.landingpage .nav button {
  background: #262a41;
  border: 2px solid #262a41;
  color: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(38, 42, 65, 0.3);
          box-shadow: 0 10px 20px 0 rgba(38, 42, 65, 0.3);
  padding: 10px 37px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

@media (max-width: 40em) {
  .landingpage .nav button {
    display: none;
  }
}

.landingpage .landing-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 64em) {
  .landingpage .landing-intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.landingpage .landing-intro .left {
  margin-top: 105px;
  padding: 20px;
  padding-left: 8%;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

@media (max-width: 64em) {
  .landingpage .landing-intro .left {
    padding: 15px;
    margin-top: 20px;
  }
}

@media (max-width: 40em) {
  .landingpage .landing-intro .left {
    margin-top: 0;
    text-align: center;
  }
}

.landingpage .landing-intro .left .title {
  margin-bottom: 20px;
}

.landingpage .landing-intro .left .title h1 {
  font-weight: 300;
  font-family: Poppins, sans-serif;
  font-size: 55px;
  margin-bottom: 15px;
}

@media (max-width: 64em) {
  .landingpage .landing-intro .left .title h1 {
    font-size: 36px;
  }
}

@media (max-width: 40em) {
  .landingpage .landing-intro .left .title h1 {
    text-align: center;
    margin-top: 15px;
  }
}

.landingpage .landing-intro .left .title h2 {
  font-weight: 500;
  font-size: 55px;
}

@media (max-width: 64em) {
  .landingpage .landing-intro .left .title h2 {
    font-size: 36px;
  }
}

@media (max-width: 40em) {
  .landingpage .landing-intro .left .title h2 {
    text-align: center;
    font-size: 24px;
  }
}

.landingpage .landing-intro .left p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 28px;
  color: #797687;
  text-align: left;
}

@media (max-width: 40em) {
  .landingpage .landing-intro .left p {
    text-align: center;
  }
}

.landingpage .landing-intro .left .getstartedbtn {
  padding: 10px 38px;
  font-size: 16px;
  margin-right: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 5px;
  background: #262a41;
  border: none;
  color: white;
  margin-top: 20px;
  position: relative;
  top: 12px;
}

.landingpage .landing-intro .right {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  text-align: right;
  margin-bottom: 15px;
}

@media (max-width: 64em) {
  .landingpage .landing-intro .right {
    text-align: center;
  }
}

.landingpage .landing-intro .right img {
  height: auto;
  max-width: 100%;
}

.landingpage .under {
  height: 674px;
  background-color: #f0f3f1ab;
  position: absolute;
  width: 100%;
  top: 706px;
}

@media (max-width: 64em) {
  .landingpage .under {
    display: none;
  }
}

.landingpage .features {
  z-index: 1;
  position: relative;
}

.landingpage .features h1 {
  text-align: center;
  font-size: 40px;
  color: #1a133b;
  font-weight: 600;
  margin-bottom: 55px;
}

.landingpage .features-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.landingpage .features-grid .list {
  padding: 50px 40px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 20px 60px 0 rgba(1, 51, 32, 0.1);
          box-shadow: 0 20px 60px 0 rgba(1, 51, 32, 0.1);
  text-align: center;
  margin-bottom: 30px;
}

.landingpage .features-grid .list-logo {
  margin-bottom: 32px;
  text-align: center;
}

.landingpage .features-grid .list-logo img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto;
}

.landingpage .features-grid .list h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 20px;
}

.landingpage .features-grid .list p {
  max-width: 210px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 28px;
  color: #797687;
}

.landingpage .charity h1 {
  text-align: center;
  margin-bottom: 40px;
  padding-top: 20px;
  font-size: calc(36px + 4 * ((100vw - 576px) / 1024));
  line-height: 1.1;
}

@media (max-width: 40em) {
  .landingpage .charity h1 {
    font-size: 30px;
  }
}

.landingpage .charity .imglogo-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 40em) {
  .landingpage .charity .imglogo-grid {
    gap: 30px;
  }
}

.landingpage .charity .imglogo-grid .imglogo {
  height: 120px;
  width: 120px;
  padding: 10px;
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 4px 20px);
          filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 4px 20px);
  background-color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  cursor: pointer;
}

.landingpage .charity .imglogo-grid .imglogo:hover {
  -webkit-transform: scale(1.2) translateZ(0px);
          transform: scale(1.2) translateZ(0px);
}

.landingpage .charity .imglogo-grid .imglogo img {
  width: 100%;
  height: auto;
}

.createuser {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100vh;
}

.createuser button {
  padding: 20px;
  color: black;
  border-radius: 8px;
  background-color: white;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.getpass {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.getpass_container {
  padding: 32px 20px 32px 20px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-radius: .375rem;
}

.getpass_container input {
  padding: .75rem 1rem;
  min-width: 100%;
  border-radius: .375rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #e2e8f0;
  margin-bottom: 15px;
}

.getpass_container input::-webkit-input-placeholder {
  color: #a0aec0;
}

.getpass_container input:-ms-input-placeholder {
  color: #a0aec0;
}

.getpass_container input::-ms-input-placeholder {
  color: #a0aec0;
}

.getpass_container input::placeholder {
  color: #a0aec0;
}

.getpass_container button {
  border: none;
  padding: .75rem 1rem;
  width: 100%;
  vertical-align: top;
  border-radius: .375rem;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 0.75rem;
  font-size: 100%;
  color: white;
  background-color: #1c3faa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.getpass_container button .MuiCircularProgress-root {
  width: 15px !important;
  height: 15px !important;
  margin-left: 9px;
  color: white;
}

.login {
  height: 100vh;
}

.login .grid__container {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.login .grid__container .form__container {
  padding: 32px 20px 32px 20px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-radius: .375rem;
}

.login .grid__container .form__container h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #2d3748;
}

.login .grid__container .form__container .intro {
  color: #0a0909;
  margin-top: .5rem;
  font-size: .875rem;
}

.login .grid__container .form__container .login__form {
  margin-top: 2rem;
  font-size: .875rem;
  color: #0a0909;
}

.login .grid__container .form__container .login__form input {
  padding: .75rem 1rem;
  min-width: 100%;
  border-radius: .375rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #e2e8f0;
}

.login .grid__container .form__container .login__form input::-webkit-input-placeholder {
  color: #0a0909;
}

.login .grid__container .form__container .login__form input:-ms-input-placeholder {
  color: #0a0909;
}

.login .grid__container .form__container .login__form input::-ms-input-placeholder {
  color: #0a0909;
}

.login .grid__container .form__container .login__form input::placeholder {
  color: #0a0909;
}

.login .grid__container .form__container .login__form .pinput {
  margin-top: 1rem;
}

.login .grid__container .form__container .login__form .form__btn {
  color: #2d3748;
  margin-top: 1.35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login .grid__container .form__container .login__form .form__btn button {
  border: none;
  padding: .75rem 1rem;
  width: 100%;
  vertical-align: top;
  border-radius: .375rem;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 0.75rem;
  font-size: 100%;
}

.login .grid__container .form__container .login__form .form__btn .login_btn {
  color: white;
  background-color: #1c3faa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .grid__container .form__container .login__form .form__btn .login_btn .MuiCircularProgress-root {
  width: 15px !important;
  height: 15px !important;
  margin-left: 9px;
  color: white;
}

.login .grid__container .form__container .login__form .form__btn .signup_btn {
  color: #0a0909;
  border: 1px solid #a6a6a6;
  padding: .75rem 1rem;
  width: 100%;
  vertical-align: top;
  border-radius: .375rem;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 0.75rem;
  font-size: 100%;
}

.login .grid__container .form__container .forget {
  color: #1344b9;
  cursor: pointer;
}

.login .grid__container .form__container .footer {
  margin-top: 2.5rem;
  font-size: .875rem;
  color: #2d3748;
}

.login .grid__container .form__container .footer span {
  color: #1344b9;
}

.gitlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 8px;
  border: 1px solid #a6a6a6;
  padding: 5px;
  cursor: pointer;
}

.gitlog svg {
  margin-left: 10px;
}

.em1 {
  color: #e12424;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.home {
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.home_grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 97vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 64em) {
  .home_grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.home_grid .info {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 60px 0 60px;
}

@media (max-width: 40em) {
  .home_grid .info {
    padding: 0 0 10px 0;
  }
}

.home_grid .info-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.home_grid .info-top .name {
  font-size: 33px;
}

.home_grid .info-top a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_grid .info-top a svg {
  margin-top: 10px;
  width: 40px !important;
  height: 40px !important;
}

.home_grid .info .greetings {
  font-size: 16px;
  color: #616a77;
}

@media screen and (max-width: 1165px) and (min-width: 1025px) {
  .home_grid .info {
    padding: 0 50px;
  }
}

.home_grid .info__projects {
  margin-top: 80px;
}

@media (max-width: 40em) {
  .home_grid .info__projects {
    margin-top: 60px;
  }
}

.home_grid .info__projects h3 {
  font-size: 18px;
  margin-bottom: 30px;
}

@media (max-width: 40em) {
  .home_grid .info__projects h3 {
    margin-left: 16px;
  }
}

.home_grid .info__projects h3 span {
  font-size: 15px;
  color: #616a77;
}

.home_grid .info__projects .proj_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  row-gap: 25px;
  max-height: 286px;
  overflow: scroll;
  scrollbar-color: #606896 #262A41;
  scrollbar-width: thin;
  overflow-x: hidden;
}

.home_grid .info__projects .proj_grid::-webkit-scrollbar-track {
  background-color: #262A41;
}

@media (max-width: 40em) {
  .home_grid .info__projects .proj_grid {
    max-width: 543px;
    max-height: 433px;
    overflow: scroll;
  }
}

@media (max-width: 40em) {
  .home_grid .info__projects .proj_grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    place-items: center;
  }
}

.home .showmain {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  background-color: #ffffff;
  border-radius: 15px;
}

@media (max-width: 64em) {
  .home .showmain {
    margin: -10px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 641px) {
  .home .showmain {
    margin: 0;
  }
}

.proj_grid::-webkit-scrollbar {
  width: 5px;
  background-color: #262A41;
}

.proj_grid::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #606896;
}

.home-loading {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 95vh;
}

.projectcard {
  width: 85px;
}

.projectcard .initials {
  width: 85px;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 19px;
  margin-bottom: 20px;
  background-color: #354376;
  text-transform: uppercase;
  border-radius: 16px;
}

.projectcard .projname {
  text-align: center;
  width: 85px;
}

.createbtn {
  position: fixed;
  bottom: 28px;
  right: 20px;
  width: 45px;
  height: 45px;
  background-color: #354376;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 12px;
  cursor: pointer;
  -webkit-box-shadow: -1px 0px 13px -1px #354376;
          box-shadow: -1px 0px 13px -1px #354376;
  z-index: 9999;
}

.createbtn svg {
  color: white;
  width: 24px;
  height: 24px;
}

.chooseproj {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  background-color: #F1F5F8;
  border-radius: 15px;
  padding: 15px;
  overflow: scroll;
  height: 97vh;
  overflow-x: hidden;
}

@media (max-width: 64em) {
  .chooseproj {
    margin: -10px;
  }
}

.chooseproj__form {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media screen and (max-width: 1024px) and (min-width: 641px) {
  .chooseproj {
    margin: 0;
  }
}

.chooseproj::-webkit-scrollbar {
  display: none;
}

.chooseproj {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.loading {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 95vh;
}

.listrepos {
  padding: 1rem;
  color: black;
  border-radius: 6px;
  background-color: #c5c7df78;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 15px;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color, border-color, color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform;
  transition-property: background-color, border-color, color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, -webkit-box-shadow, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.listrepos:hover {
  -webkit-transform: scaleX(1.05);
          transform: scaleX(1.05);
  -webkit-box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
          box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.listrepos h1 {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.listrepos .btn {
  display: none;
}

.shown {
  display: block !important;
}

.projectinfo {
  color: black;
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 40em) {
  .projectinfo {
    padding: 30px 10px 10px 10px;
  }
}

.projectinfo .name {
  font-size: 1.5rem;
  font-weight: 500;
}

.projectinfo .settings {
  margin-top: 20px;
}

.projectinfo .settings__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid gainsboro;
  margin-bottom: 20px;
}

.projectinfo .settings__top h1 {
  font-size: 23px;
}

.projectinfo .settings_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.projectinfo .settings_info h3 {
  color: grey;
}

.projectinfo .settings_info p {
  margin-left: auto;
  background-color: lightblue;
  border-radius: 9px;
  min-width: 28px;
  text-align: center;
  padding: 5px 0;
  margin-right: 15px;
}

.projectinfo .settings_info svg {
  color: gray;
}

.notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F3F5FA;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 8px;
  padding: 10px 15px;
}

.notification svg {
  margin-right: 5px;
  color: gray;
}

.notification h3 {
  color: gray;
  font-size: 1rem;
}

.notification .date {
  color: black;
  margin-left: 15px;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.edit_pop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  height: 50vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 10px;
  background-color: #d1d2d0;
}

.edit_pop .maxmin h3 {
  font-weight: 500;
}

.edit_pop .maxmin input {
  border: none;
  padding: 9px;
  border-radius: 8px;
}

.edit_pop .alabill h3 {
  font-weight: 500;
}

.edit_pop .alabill select {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  color: #444;
}

.edit_pop button {
  border: 0;
  padding: 5px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit_pop button .MuiCircularProgress-root {
  width: 15px !important;
  height: 15px !important;
  margin-left: 9px;
}

.tweet {
  display: none !important;
}

.show {
  display: block !important;
}

.alarm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alarm div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.alarm div .msg {
  margin-right: 16px;
}

.chart-container {
  margin: 0 auto;
  max-width: 960px;
}

.over {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.dialog-edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.dialog-edit .minmax {
  margin-bottom: 15px;
}

.dialog-edit .alarm-billing {
  margin-bottom: 15px;
}

.dialog-load {
  width: 15px !important;
  height: 15px !important;
  margin-left: 9px;
}

.em2 {
  text-align: center;
  margin-bottom: 15px;
  color: red;
}

.forgetpass {
  height: 100vh;
  margin: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
}

.forgetpass .container {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
}

.forgetpass .container input {
  margin-bottom: 16px;
  padding: .75rem 1rem;
  min-width: 100%;
  border-radius: .375rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #e2e8f0;
}

.forgetpass .container input::-webkit-input-placeholder {
  color: #080b13;
}

.forgetpass .container input:-ms-input-placeholder {
  color: #080b13;
}

.forgetpass .container input::-ms-input-placeholder {
  color: #080b13;
}

.forgetpass .container input::placeholder {
  color: #080b13;
}

.forgetpass .container button {
  border: none;
  padding: .75rem 1rem;
  width: 100%;
  vertical-align: top;
  border-radius: .375rem;
  font-weight: 500;
  cursor: pointer;
  font-size: 100%;
  color: white;
  background-color: #1c3faa;
}

.signup_confirmEmail {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 23;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 20px;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  visibility: hidden;
}

.signup_confirmEmail h3 {
  font-weight: 500;
  font-size: 23px;
}

@media (max-width: 40em) {
  .signup_confirmEmail h3 {
    font-size: 23px;
  }
}

.showconfirmEmail {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 23;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 20px;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  visibility: visible;
}

.showconfirmEmail h3 {
  font-weight: 500;
  font-size: 23px;
}

@media (max-width: 40em) {
  .showconfirmEmail h3 {
    font-size: 23px;
  }
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

.user {
  color: #354376;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  padding-top: 10px;
  position: relative;
}

@media (min-width: 1024px) {
  .user {
    height: 97vh;
  }
}

.user .MuiAvatar-root {
  width: 200px;
  height: 200px;
}

.user .userparams {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 40em) {
  .user .userparams {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
  }
}

.user .userparams .divide {
  position: absolute;
  width: 1px;
  height: 73px;
  background-color: gray;
  left: 170px;
  top: 19px;
  opacity: 0.5;
}

@media (max-width: 40em) {
  .user .userparams .divide {
    position: unset;
  }
}

.user .userparams .noofproj {
  margin-right: 125px;
}

@media (max-width: 40em) {
  .user .userparams .noofproj {
    margin-right: 0;
  }
}

.user .addmoney {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 93%;
  height: 75px;
  border-radius: 8px;
  padding: 20px;
  color: white;
  cursor: pointer;
  background-color: #354376;
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(4, 29, 61, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(4, 29, 61, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  border-radius: 8px;
  color: #354376;
  width: 85px;
  height: 70px;
  margin-top: -15px;
}

.card p {
  margin-bottom: 7px;
}

.pay_pop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 8px;
  gap: 10px;
}

.pay_pop .MuiFormControl-root {
  margin-bottom: 16px;
}

.pay_pop button:not(:last-child) {
  margin-bottom: 8px;
}

.pay_pop button:not(:last-child) .MuiCircularProgress-root {
  width: 15px !important;
  height: 15px !important;
  margin-left: 9px;
  color: black;
}

.pay_pop .ten {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.pay_pop .ten span span {
  font-weight: 700;
  font-size: 19px;
  margin-left: 10px;
}

.pay_pop .ten button span {
  font-weight: unset;
}

.logout {
  position: absolute;
  right: 17px;
  top: 13px;
  cursor: pointer;
  text-align: center;
}

.logout p {
  font-size: 10px;
}

.dialog-loadd {
  width: 15px !important;
  height: 15px !important;
  margin-left: 9px;
}

.edit-icon {
  position: absolute;
  top: 13px;
  left: 17px;
  cursor: pointer;
  text-align: center;
}

.edit-icon p {
  font-size: 10px;
}

.errormsg {
  width: 236px;
}

.chartjs-render-monitor {
  width: 86vw !important;
  max-width: 300px;
}

.MuiDialogContent-root {
  padding: 8px 10px !important;
}
/*# sourceMappingURL=style.css.map */