body {
  padding: 10px;
  background-color: #262a41;
  font-size: 14px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 40em) {
  body {
    padding: 20px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.createuser {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100vh;
}

.createuser button {
  padding: 20px;
  color: black;
  border-radius: 8px;
  background-color: white;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.getpass {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.getpass_container {
  padding: 32px 20px 32px 20px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-radius: .375rem;
}

.getpass_container input {
  padding: .75rem 1rem;
  min-width: 100%;
  border-radius: .375rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #e2e8f0;
  margin-bottom: 15px;
}

.getpass_container input::-webkit-input-placeholder {
  color: #a0aec0;
}

.getpass_container input:-ms-input-placeholder {
  color: #a0aec0;
}

.getpass_container input::-ms-input-placeholder {
  color: #a0aec0;
}

.getpass_container input::placeholder {
  color: #a0aec0;
}

.getpass_container button {
  border: none;
  padding: .75rem 1rem;
  width: 100%;
  vertical-align: top;
  border-radius: .375rem;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 0.75rem;
  font-size: 100%;
  color: white;
  background-color: #1c3faa;
}

.login {
  height: 100vh;
}

.login .grid__container {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.login .grid__container .form__container {
  padding: 32px 20px 32px 20px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-radius: .375rem;
}

.login .grid__container .form__container h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #2d3748;
}

.login .grid__container .form__container .intro {
  color: #a0aec0;
  margin-top: .5rem;
  font-size: .875rem;
}

.login .grid__container .form__container .login__form {
  margin-top: 2rem;
  font-size: .875rem;
  color: #2d3748;
}

.login .grid__container .form__container .login__form input {
  padding: .75rem 1rem;
  min-width: 100%;
  border-radius: .375rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #e2e8f0;
}

.login .grid__container .form__container .login__form input::-webkit-input-placeholder {
  color: #a0aec0;
}

.login .grid__container .form__container .login__form input:-ms-input-placeholder {
  color: #a0aec0;
}

.login .grid__container .form__container .login__form input::-ms-input-placeholder {
  color: #a0aec0;
}

.login .grid__container .form__container .login__form input::placeholder {
  color: #a0aec0;
}

.login .grid__container .form__container .login__form .pinput {
  margin-top: 1rem;
}

.login .grid__container .form__container .login__form .form__btn {
  color: #2d3748;
  margin-top: 1.35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login .grid__container .form__container .login__form .form__btn button {
  border: none;
  padding: .75rem 1rem;
  width: 100%;
  vertical-align: top;
  border-radius: .375rem;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 0.75rem;
  font-size: 100%;
}

.login .grid__container .form__container .login__form .form__btn .login_btn {
  color: white;
  background-color: #1c3faa;
}

.login .grid__container .form__container .login__form .form__btn .signup_btn {
  color: #4a5568;
  border: 1px solid #e2e8f0;
  padding: .75rem 1rem;
  width: 100%;
  vertical-align: top;
  border-radius: .375rem;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 0.75rem;
  font-size: 100%;
}

.login .grid__container .form__container .forget {
  color: #1344b9;
  cursor: pointer;
}

.login .grid__container .form__container .footer {
  margin-top: 2.5rem;
  font-size: .875rem;
  color: #2d3748;
}

.login .grid__container .form__container .footer span {
  color: #1344b9;
}

.home {
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.home_grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 97vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 64em) {
  .home_grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.home_grid .info {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 60px 0 60px;
}

@media (max-width: 40em) {
  .home_grid .info {
    padding: 0 0 10px 0;
  }
}

.home_grid .info .name {
  font-size: 33px;
  margin-bottom: 15px;
}

.home_grid .info .greetings {
  font-size: 16px;
  color: #616a77;
}

@media screen and (max-width: 1165px) and (min-width: 1025px) {
  .home_grid .info {
    padding-right: 50px;
    padding-left: 50px;
  }
}

.home_grid .info__projects {
  margin-top: 80px;
}

.home_grid .info__projects h3 {
  font-size: 18px;
  margin-bottom: 30px;
}

.home_grid .info__projects h3 span {
  font-size: 15px;
  color: #616a77;
}

.home_grid .info__projects .proj_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  row-gap: 25px;
  max-height: 286px;
  overflow: scroll;
  scrollbar-color: #606896 #262A41;
  scrollbar-width: thin;
  overflow-x: hidden;
}

.home_grid .info__projects .proj_grid::-webkit-scrollbar-track {
  background-color: #262A41;
}

@media (max-width: 40em) {
  .home_grid .info__projects .proj_grid {
    max-width: 543px;
    max-height: 433px;
    overflow: scroll;
  }
}

@media (max-width: 40em) {
  .home_grid .info__projects .proj_grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    place-items: center;
  }
}

.home .showmain {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  background-color: #ffffff;
  border-radius: 15px;
}

@media (max-width: 64em) {
  .home .showmain {
    margin: -10px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 641px) {
  .home .showmain {
    margin: 0;
  }
}

.proj_grid::-webkit-scrollbar {
  width: 5px;
  background-color: #262A41;
}

.proj_grid::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #606896;
}

.home-loading {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 95vh;
}

.projectcard {
  width: 85px;
}

.projectcard .initials {
  width: 85px;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 19px;
  margin-bottom: 20px;
  background-color: #354376;
  text-transform: uppercase;
  border-radius: 16px;
}

.projectcard .projname {
  text-align: center;
  width: 85px;
}

.createbtn {
  position: fixed;
  bottom: 28px;
  right: 20px;
  width: 45px;
  height: 45px;
  background-color: #354376;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 12px;
  cursor: pointer;
  -webkit-box-shadow: -1px 0px 13px -1px #354376;
          box-shadow: -1px 0px 13px -1px #354376;
}

.createbtn svg {
  color: white;
  width: 24px;
  height: 24px;
}

.chooseproj {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  background-color: #F1F5F8;
  border-radius: 15px;
  padding: 15px;
  overflow: scroll;
  height: 97vh;
}

@media (max-width: 64em) {
  .chooseproj {
    margin: -10px;
  }
}

.chooseproj__form {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media screen and (max-width: 1024px) and (min-width: 641px) {
  .chooseproj {
    margin: 0;
  }
}

.chooseproj::-webkit-scrollbar {
  display: none;
}

.chooseproj {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.loading {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 95vh;
}

.listrepos {
  padding: 1rem;
  color: black;
  border-radius: 6px;
  background-color: #c5c7df78;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 15px;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color, border-color, color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform;
  transition-property: background-color, border-color, color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, -webkit-box-shadow, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.listrepos:hover {
  -webkit-transform: scaleX(1.05);
          transform: scaleX(1.05);
  -webkit-box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
          box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.listrepos h1 {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.listrepos .btn {
  display: none;
}

.shown {
  display: block !important;
}

.projectinfo {
  color: black;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 40em) {
  .projectinfo {
    padding: 10px;
    padding-top: 30px;
  }
}

.projectinfo .name {
  font-size: 1.5rem;
  font-weight: 500;
}

.projectinfo .settings {
  margin-top: 20px;
}

.projectinfo .settings__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid gainsboro;
  margin-bottom: 20px;
}

.projectinfo .settings__top h1 {
  font-size: 23px;
}

.projectinfo .settings_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.projectinfo .settings_info h3 {
  color: grey;
}

.projectinfo .settings_info p {
  margin-left: auto;
  background-color: lightblue;
  border-radius: 9px;
  min-width: 28px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 15px;
}

.projectinfo .settings_info svg {
  color: gray;
}

.notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F3F5FA;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 10px 15px;
}

.notification svg {
  margin-right: 5px;
  color: gray;
}

.notification h3 {
  color: gray;
  font-size: 1rem;
}

.notification .date {
  color: black;
  margin-left: 15px;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.edit_pop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  height: 50vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 10px;
  background-color: #d1d2d0;
}

.edit_pop .maxmin h3 {
  font-weight: 500;
}

.edit_pop .maxmin input {
  border: none;
  padding: 9px;
  border-radius: 8px;
}

.edit_pop .alabill h3 {
  font-weight: 500;
}

.edit_pop .alabill select {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  color: #444;
}

.edit_pop button {
  border: 0;
  padding: 5px;
  border-radius: 8px;
}

.tweet {
  display: none !important;
}

.show {
  display: block !important;
}

.alarm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alarm div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.alarm div .msg {
  margin-right: 16px;
}

.forgetpass {
  height: 100vh;
  margin: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.forgetpass .container {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
}

.forgetpass .container input {
  margin-bottom: 16px;
  padding: .75rem 1rem;
  min-width: 100%;
  border-radius: .375rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #e2e8f0;
}

.forgetpass .container input::-webkit-input-placeholder {
  color: #080b13;
}

.forgetpass .container input:-ms-input-placeholder {
  color: #080b13;
}

.forgetpass .container input::-ms-input-placeholder {
  color: #080b13;
}

.forgetpass .container input::placeholder {
  color: #080b13;
}

.forgetpass .container button {
  border: none;
  padding: .75rem 1rem;
  width: 100%;
  vertical-align: top;
  border-radius: .375rem;
  font-weight: 500;
  cursor: pointer;
  font-size: 100%;
  color: white;
  background-color: #1c3faa;
}
/*# sourceMappingURL=style.css.map */